
body {
  background-attachment: scroll;
  background-color: #F6F6F6;
  background-origin: padding-box;
  background-size: auto auto;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;
}

.header{
  padding: 12px;
  color: floralwhite;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(44,67,80,1) 35%, rgba(44,67,80,1) 100%);
  /**background-color: #2c4350;**/
}

.avatar {
  margin-right: 32px;
  float: left;
  border-radius: 50%;
}

.job {
  font-size: 24px;
  color: orangered;
}

.experience  {
  box-shadow: 0 0.1rem 1rem 0 rgb(25 25 25 / 10%);
  padding: 20px 10px 0;
  margin: 20px;
}

.studies, .skills {
  margin-left: 20px;
  margin-right: 24px;
}

.card, .skills {
  background: #fff;
  border-radius: 0.25em;
  padding: 1em;
  -webkit-box-shadow: 0 3px 0 #ddd;
  box-shadow: 0 3px 0 #ddd;
}

.skills {
  margin-top: 20px;
  margin-bottom: 20px;
}

h4, .role {
  font-size: 1.25rem;
  color: #050a47;
}

.role {
  margin-left: 32px;
}

.dates{
  float: right;
  margin-left: auto;
}

.logo {
  display: inline-block; /* or block */
  width: 128px;
}

.section-header {
  text-align: center;
}

.normal {
  font-size: 1rem;
}

img.hover-zoom {
  transition: all 0.3s ease 0s;
}
img.hover-zoom:hover {
  transform: scale(1.5);
}

ul {
  list-style-type: circle;
}

@media only screen and (min-width: 1279px) {
  .studies, .skills {
    float: right;
    max-width: 34%;
    flex: 34%;
    margin-left: 0;
  }

  .experiences {
    float: left;
    flex: 64%;
    max-width: 64%;
  }
}

@media only screen and (max-width: 600px) and (min-width: 400px)  {

}


@media print {
  body {zoom:  .55}

  .studies, .skills {
    float: right;
    max-width: 32%;
    flex: 32%;
    margin-left: 0;
  }

  .experiences {
    float: left;
    flex: 64%;
    max-width: 64%;
  }
  .card {
    break-inside: avoid;
  }
  .col-print-1 {width:8%; max-width:8%;  float:left;}
  .col-print-2 {width:16%; max-width:16%; float:left;}
  .col-print-3 {width:25%; max-width:25%; float:left;}
  .col-print-4 {width:33%; max-width:33%; float:left;}
  .col-print-5 {width:42%; max-width:42%; float:left;}
  .col-print-6 {width:50%; max-width:50%; float:left;}
  .col-print-7 {width:58%; max-width:58%; float:left;}
  .col-print-8 {width:66%; max-width:66%; float:left;}
  .col-print-9 {width:75%; max-width:75%; float:left;}
  .col-print-10{width:83%; max-width:83%; float:left;}
  .col-print-11{width:92%; max-width:92%; float:left;}
  .col-print-12{width:100%; max-width:100%; float:left;}
  .badge{transition: none !important; box-shadow: none !important; border: none !important;}
}
